<header>
  <h1>Welcome to the cat vs dog application</h1>
  <nav>
    {{#link-to 'index' class="button"}}
      Home
    {{/link-to}}
    {{#link-to 'percentage-vote-by-date' class="button"}}
      Percentage Vote By Date
    {{/link-to}}
  </nav>
</header>
{{outlet}}